bamboo_MAPBOX_ACCESS_TOKEN=""
bamboo_MAPBOX_STYLE=""
bamboo_MAPBOX_USERNAME=""
bamboo_MAPBOX_URL=""

bamboo_CESIUM_DEFAULT_TOKEN=""

bamboo_DATA_BASE_URL=""
bamboo_ABI_BASE_URL=""
bamboo_FLIGHT_TRACK_BASE_URL=""