@import "../../node_modules/cesium/Build/Cesium/Widgets/widgets.css";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: #337ab7;
  background-color: transparent;
}

.main {
  margin-top: -32px;
}

#earthdata-tophat2 {
  display: block;
  position: fixed;
  width: 100vw;
  height: 32px;
}

.center_element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center_horizontally_child{
  text-align: center;
}

.code_block{
  display: block;
  font-size: .75rem;
  /* overflow: scroll; */
}

.dock-panel.dock-style-subsettingtool{
  inset: auto 10px 35px auto; /* Bottom Right */
}

.dock-panel.dock-style-subsettingtool .dock-panel-max-btn{
  display: none;
}


/* instrument histogram visualization css */
.histogram-selection-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.histogram-params-selection {
  display: flex;
  width: 10%;
}

.histogram-sampling-box {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
}

.histogram-density-slider {
  display: block;
  width: 100%;
  margin: auto 3rem;
}

#histogram-density-slider-label {
  font-size: 0.9rem;
  line-height: 0.03;
  color: rgb(0 0 0 / 54%);
}